* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
} */

#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #1d0b70; */
    background: linear-gradient(52deg, #946403, #960577, #070136);
    background-size: 600% 600%;

    -webkit-animation: gradientanimated 25s ease infinite;
    -moz-animation: gradientanimated 25s ease infinite;
    animation: gradientanimated 25s ease infinite;
}

@-webkit-keyframes gradientanimated {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}
@-moz-keyframes gradientanimated {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}
@keyframes gradientanimated {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}


#canvas1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(1px);
}

#audio1 {
    position: absolute;
    width: 90%;
    margin: 50px auto;
    display: block;
    opacity: 0.5; 
    transition: 1s;
}
#audio1:hover {
    transition: 1s;
    opacity: 1;
}

#track {
    position: absolute;
    top: 150px;
    color: rgb(240, 228, 60);
    z-index: 100;
}

/* menu offcanvas */

#menucontainer {
    position: absolute;
}
.offcanvas-body{
    background-color:rgb(48, 24, 134);
}
