@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(52deg, #946403, #960577, #070136);
    background-size: 600% 600%;

    -webkit-animation: gradientanimated 25s ease infinite;
    -moz-animation: gradientanimated 25s ease infinite;
    animation: gradientanimated 25s ease infinite;
}

@-webkit-keyframes gradientanimated {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}
@-moz-keyframes gradientanimated {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}
@keyframes gradientanimated {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}


#canvas1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(1.2px);   
}

#slidemenu{
    width: 4em;
    height: 4em;
    transition: 0.4s;
}
#slidemenu:hover{
    width: 5em;
    height: 5em;
    transition: 0.4s;
}

/* menu offcanvas */
#audio1 {
    width: 90%;
    margin: 50px auto;
    display: block;
    opacity: 0.5; 
    transition: 1s;
}
#audio1:hover {
    transition: 1s;
    opacity: 1;
}

#track {
    top: 150px;
    color: rgb(240, 228, 60);
    z-index: 100;
}

.offcanvas-header{
    background-color: rgba(2,0,36,1);
    color: aliceblue;
}

#menucontainer {
    position: absolute;
    font-family: 'Space Grotesk', sans-serif;
}
.offcanvas-body{
    display: flexbox;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 22%, 
                                        rgba(9,121,71,1) 61%, 
                                        rgba(8,133,95,1) 77%, 
                                        rgba(4,173,175,1) 100%, 
                                        rgba(0,212,255,1) 100%);
}
#text2{
    color: aliceblue;
}

#refreshcontainer{
    display: flex;
    justify-content: center;
    align-self: flex-end;
}
#refresh{
    width: 4em;
    height: 4em;
    transition: 0.3s;
    margin-top: 6em;
}
#refresh:hover{
    width: 5em;
    height: 5em;
    transition: 0.3s;
}
